@model IEnumerable<FAQq.Models.Question>
@{
    ViewData["Title"] = "FAQ";
}

<h1>Baza wiedzy FAQ</h1>
<form method="get" class="row mb-3">
    <div class="col-md-5">
        <input type="text"
               name="search"
               value="@ViewData["Search"]"
               class="form-control"
               placeholder="Szukaj w pytaniach..." />
    </div>

    <div class="col-md-4">
        <select name="categoryId" class="form-control">
            <option value="">-- wszystkie kategorie --</option>

            @foreach (var c in (List<SelectListItem>)ViewData["Categories"])
            {
                <option value="@c.Value">@c.Text</option>
            }
        </select>
    </div>

    <div class="col-md-3">
        <button type="submit" class="btn btn-primary w-100">
            Filtruj
        </button>
    </div>
</form>
<p>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-controller="Questions" asp-action="Create" class="btn btn-primary">Zadaj pytanie</a>
    }

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                    {
                        <a asp-controller="Questions" asp-action="Edit" asp-route-id="@item.Id">Edytuj</a>
                        <a asp-controller="Questions" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                    }
                </td>
                <td>
                    <a asp-controller="Questions" asp-action="Details" asp-route-id="@item.Id">Pokaż</a>
                </td>

            </tr>
        }
    </tbody>
</table>
